html,
body {
    height: 100%;
}

.mb-0{
    margin-bottom: 0 !important;
}

.inline-block{
    display: inline-block;
}



.text-white{
    color: #fff;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 50px 0 60px;
}

h1.main-title {
    background-color: #fff;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-family: arial;
    color: transparent;
    font-size: 5em;
}

.subtitle-text {
    background-color: #fff;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-family: arial;
    color: transparent;
    font-size: 2em;
}

.subtitle-text span,
h1.main-title span {
    background: url(/img/header-bg/morning.jpg) -20px -20px repeat;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.2);
    -webkit-background-clip: text;
    display: block;
}

.subtitle-text.and{
    padding: 2px 6px;
    font-size: 20px;
}


.navbar-language-selector + .dropdown-menu{
    min-width: auto;
}

.navbar-logo{
    width: 100px;
}

.navbar-brand{
    padding: 6px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}


.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.navbar-nav > li > a.navbar-popup-btn {
    padding: 0;
}

.navbar-nav > li > a.navbar-popup-btn span {
    padding: 17px 10px;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.intl-tel-input {
    display: block;
}

.alert {
    width: 300px;
    position: fixed;
    right: 0;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/* === card component ======
 * Variation of the panel component
 * version 2018.10.30
 * https://codepen.io/jstneg/pen/EVKYZj
 */
.card {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
}

.card > .card-link {
    color: #333;
}

.card > .card-link:hover {
    text-decoration: none;
}

.card > .card-link .card-img img {
    border-radius: 6px 6px 0 0;
}

.card .card-img {
    position: relative;
    padding: 0;
    display: table;
}

.card .card-img .card-caption {
    position: absolute;
    right: 0;
    bottom: 16px;
    left: 0;
}

.card .card-body {
    display: table;
    width: 100%;
    padding: 12px;
}

.card .card-header {
    border-radius: 6px 6px 0 0;
    padding: 8px;
}

.card .card-footer {
    border-radius: 0 0 6px 6px;
    padding: 8px;
}

.card .card-left {
    position: relative;
    float: left;
    padding: 0 0 8px 0;
}

.card .card-right {
    position: relative;
    float: left;
    padding: 8px 0 0 0;
}

.card .card-body h1:first-child,
.card .card-body h2:first-child,
.card .card-body h3:first-child,
.card .card-body h4:first-child,
.card .card-body .h1,
.card .card-body .h2,
.card .card-body .h3,
.card .card-body .h4 {
    margin-top: 0;
}

.card .card-body .heading {
    display: block;
}

.card .card-body .heading:last-child {
    margin-bottom: 0;
}

.card .card-body .lead {
    text-align: center;
    min-height: 60px
}

@media ( min-width: 768px ) {
    .card .card-left {
        float: left;
        padding: 0 8px 0 0;
    }

    .card .card-right {
        float: left;
        padding: 0 0 0 8px;
    }

    .card .card-4-8 .card-left {
        width: 33.33333333%;
    }

    .card .card-4-8 .card-right {
        width: 66.66666667%;
    }

    .card .card-5-7 .card-left {
        width: 41.66666667%;
    }

    .card .card-5-7 .card-right {
        width: 58.33333333%;
    }

    .card .card-6-6 .card-left {
        width: 50%;
    }

    .card .card-6-6 .card-right {
        width: 50%;
    }

    .card .card-7-5 .card-left {
        width: 58.33333333%;
    }

    .card .card-7-5 .card-right {
        width: 41.66666667%;
    }

    .card .card-8-4 .card-left {
        width: 66.66666667%;
    }

    .card .card-8-4 .card-right {
        width: 33.33333333%;
    }
}

/* -- default theme ------ */
.card-default {
    border-color: #ddd;
    background-color: #fff;
    margin-bottom: 24px;
}

.card-default > .card-header,
.card-default > .card-footer {
    color: #333;
    background-color: #ddd;
}

.card-default > .card-header {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.card-default > .card-footer {
    border-top: 1px solid #ddd;
    padding: 8px;
}

.card-default > .card-body {
}

.card-default > .card-img:first-child img {
    border-radius: 6px 6px 0 0;
}

.card-default > .card-left {
    padding-right: 4px;
}

.card-default > .card-right {
    padding-left: 4px;
}

.card-default p:last-child {
    margin-bottom: 0;
}

.card-default .card-caption {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}


/* -- price theme ------ */
.card-price {
    border-color: #999;
    background-color: #ededed;
    margin-bottom: 24px;
}

.card-price > .card-heading,
.card-price > .card-footer {
    color: #333;
    background-color: #fdfdfd;
}

.card-price > .card-heading {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.card-price > .card-footer {
    border-top: 1px solid #ddd;
    padding: 8px;
}

.card-price > .card-img:first-child img {
    border-radius: 6px 6px 0 0;
}

.card-price > .card-left {
    padding-right: 4px;
}

.card-price > .card-right {
    padding-left: 4px;
}

.card-price .card-caption {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.card-price p:last-child {
    margin-bottom: 0;
}

.card-price .price {
    text-align: center;
    color: #337ab7;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 0.7em;
    margin: 24px 0 16px;
}

.card-price .price small {
    font-size: 0.4em;
    color: #66a5da;
}

.card-price .details {
    list-style: none;
    margin-bottom: 24px;
    padding: 0 18px;
}

.card-price .details li {
    text-align: center;
    margin-bottom: 8px;
}

.card-price .buy-now {
    text-transform: uppercase;
}

.card-price table .price {
    font-size: 1.2em;
    font-weight: 700;
    text-align: left;
}

.card-price table .note {
    color: #666;
    font-size: 0.8em;
}


.filter_items_list {
    max-height: 275px;
    overflow-y: auto;
}

.header-bg {
    background-image: url(/img/header-bg/morning.jpg);
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 30px;
    min-height: 670px;
}

.city-dropdown-btn{
    display: inline-block;
    margin-left: 25px;
}

.main-tabs-buttons {
    margin: 0 auto;
    width: 60%;
}

#new-restaurants {
    padding-top: 20px;
}

.p-0 {
    padding: 0;
}

.search-wrapper {
    position: relative;
    top: 150px;
}

.index-container{
    position: relative;
    bottom: 120px;
    background: #fff;
    padding-top: 30px;
    border-radius: 20px;
}


.block {
    margin: 0 auto;
    border-radius: 4px;
    /*width: 280px;*/
    min-height: 370px;
    background: #fff;
    padding: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 2px 55px rgba(0,0,0,0.1);
}
.top {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.top .fa{
    font-size: 30px;
}


.converse {
    padding: 2px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
}
.middle {
    margin-bottom: 40px;
}
.middle img {
    width: 200px;
    margin: 0 auto;
}
.bottom {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.heading {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 0;
}
.info {
    font-size: 14px;
    color: #969696;
    margin-bottom: 10px;
}
.style {
    font-size: 16px;
    margin-bottom: 20px;
}
.old-price {
    color: #f00;
    text-decoration: line-through;
}



/*--------------------
Landing
--------------------*/
.landing {
    position: relative;
    z-index: 2;
    width: 710px;
    height: 440px;
    margin: 25px auto;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.landing .logo svg {
    fill: #1E1C45;
}
.landing .base {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 38px;
    color: #082352;
    background: #fff;
}
.landing .image {
    display: none;
}

/*--------------------
Copy
--------------------*/
.copy {
    position: relative;
    z-index: 2;
}
.copy .title {
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;
    margin-left: -3px;
    background-image: -webkit-linear-gradient(45deg, #191A42, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(45deg, #191A42, rgba(0, 0, 0, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.copy .title small {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 50px;
    line-height: 1;
    display: block;
    text-indent: 3px;
}
.copy .text {
    color: #282652;
    width: 400px;
    font-size: 16px;
}
.copy .cta {
    cursor: pointer;
    margin-top: 40px;
    background: -webkit-linear-gradient(65deg, #2f2d56, #000);
    background: linear-gradient(25deg, #2f2d56, #000);
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
}


/*--------------------
Overlay
--------------------*/
.base.overlay {
    z-index: 2;
    -webkit-clip-path: polygon(375px 0, 710px 0, 710px 530px, 469px 530px);
    clip-path: polygon(375px 0, 710px 0, 710px 530px, 469px 530px);
    color: #fff;
    background: -webkit-linear-gradient(45deg, #082352, rgba(0, 0, 0, 0.5));
    background: linear-gradient(45deg, #082352, rgba(0, 0, 0, 0.5));
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.base.overlay.over {
    -webkit-clip-path: polygon(-1750px 0, 710px 0, 710px 630px, 0 710px);
    clip-path: polygon(-1750px 0, 710px 0, 710px 630px, 0 710px);
}
.base.overlay .logo svg {
    fill: #fff;
}
.base.overlay .image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}
.base.overlay .image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background: -webkit-linear-gradient(48deg, #082352, rgba(0, 0, 0, 0.5));
    background: linear-gradient(42deg, #082352, rgba(0, 0, 0, 0.5));
    opacity: 0.8;
}
.base.overlay .title {
    background-image: -webkit-linear-gradient(0, #fff, #fff);
    background-image: linear-gradient(0, #fff, #fff);
}
.base.overlay .text {
    color: #fff;
}
.base.overlay .cta {
    background: #fff;
    color: #54a902;
    z-index: 999;
    position: relative;
}


.news-and-reviews{
    background: url(/../img/news__background.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-width: 1086px;
    position: relative;
    min-height: 400px;
    padding-bottom: 145px;
}

.news-and-reviews .nav-pills{
    background: rgba(255, 255, 255, 0.47);
    padding: 13px;
}


/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Individual effects */




/*---------------*/
/***** Roxy *****/
/*---------------*/

figure.effect-roxy {
    position: relative;
}

figure.effect-roxy:after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    top: 0;
    left: 0;
}
figure.effect-roxy *{
    position: relative;
    z-index: 2;
}

.news-and-reviews  .owl-carousel .owl-item img,
.news-and-reviews figure.effect-roxy img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50px,0,0);
    transform: translate3d(-50px,0,0);
    height: 235px;
}

figure.effect-roxy figcaption::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);
}


figure.effect-roxy figcaption {
    padding: 1.4em;
    text-align: left;
}

figure.effect-roxy h2 {
    padding: 0;
}

figure.effect-roxy p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}

.news-and-reviews figure.effect-roxy:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


.download-app{
    padding: 30px 0;
    color: #ffffff;
    font-family: MuseoSansCyrl_100_Italic;
    background-image: -moz-linear-gradient(76deg, rgb(0, 187, 231) 0, rgb(24, 217, 236) 100%);
    background-image: -webkit-linear-gradient(76deg, rgb(0, 187, 231) 0, rgb(24, 217, 236) 100%);
    background-image: -ms-linear-gradient(76deg, rgb(0, 187, 231) 0, rgb(24, 217, 236) 100%);
}

.page-text{
    padding: 30px 0;
}